{% extends 'base.html' %}

{% block title%}

{% endblock title%}

{% block content %}
    {% for customer in  object_list %}
        {{ customer }}
        <a href="{% url 'customers:customer-pdf-view' customer.pk %}"><button class="btn btn-primary">PDF</button></a>
        <br>
        <hr>
    {% endfor %}
{% endblock content %}
