<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>{{ customer }}</h1>
<hr>
{{ customer.description|linebreaks }}
<br>
{{ customer.logo }}
<br>
{{ costomer.logo.url }}
<br>
{{ customer.logo.path }}

{#    <img src={{customer.logo.path}} height='200px'>#}

<img src="media/{{ customer.logo }}" height='200px'>
<hr>
Конец.
</body>
</html>
